 #content-container::-webkit-scrollbar {
    width: 10px;
 }

 #content-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  #content-container::-webkit-scrollbar-thumb {
    background: lightgrey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  #content-container::-webkit-scrollbar-thumb:hover {
    background: lightblue; 
  }

  #drag-button-closed{
    position: absolute;
    top: 40%;
    right: -13px;
    padding: 0px;
    z-index: 99;
    margin: 0px;
    visibility: visible!important
  }

  #drag-button{
    position: absolute;
    top: 40%;
    right: -13px;
    padding: 0px;
    z-index: 99;
    margin: 0px;
    visibility: visible!important;
    transform: rotate(90deg);
  }

  #option-panel-resize-icon{
    visibility: visible!important
  }
